body {
  margin: 0;
  overflow: hidden;
}
:root {
  --leftPos: 15%;
  --rightPos: 85%;
  --walkSpeed: 0.2s;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
  overflow: hidden;
  font-family: Tahoma;
  flex-wrap: wrap;

  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}

.content .kasslan {
  font-size: 12px;
  max-height: 100px;
}

.content .experience {
  flex: 1;
  min-width: 400px;
}

/* if screen is small use fontsize 14px */
@media screen and (max-width: 600px) {
  .content pre {
    font-size: 14px;
  }
}

a {
  color: #3fa8d2;
  text-decoration: none;
  font-weight: bold;
}
